<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Label</key>
        <string>com.checkpoint.epc.service</string>
        <key>ProgramArguments</key>
        <array>
                <string>/Library/Application Support/Checkpoint/Endpoint Security/Endpoint Connect/TracSrvWrapper</string>
        </array>
        <key>WorkingDirectory</key>
        <string>/Library/Application Support/Checkpoint/Endpoint Security/Endpoint Connect</string>
        <key>RunAtLoad</key>
        <true/>
        <key>KeepAlive</key>
        <dict>
        	<key>SuccessfulExit</key>
        	<false/>
        </dict>
        <key>ServiceIPC</key>
        <true/>
        <key>EnvironmentVariables</key>
        <dict>
        	<key>TRACLOG</key>
        	<string>true</string>
        	<key>CPDIR</key>
        	<string>/Library/Application Support/Checkpoint/Endpoint Security/Endpoint Connect</string>
        	<key>stand-alone-mode</key>
        	<string>false</string>
        </dict>
</dict>
</plist>
